/* -------------------------<< tablet screen >>------------------------------ */
@media (min-width:721px) and (max-width:1023px) {
    .header__left h1 {
        display: none;
    }

    .header__center {
        width: 100%;
    }

    .header__course--button {
        display: none;
    }

    .course__item {
        width: calc(100% / 2 - 64px);
    }
}

/* -------------------------<< tablet screen >>------------------------------ */
@media (max-width:721px) {
    header {
        display: flex;
        justify-content: center;
    }
    
    .header__left {
        width: calc(100% / (1/3) - 32px);
        min-width: 48px;
    }

    .header__left h1 {
        display: none;
    }

    .header__center {
        width: calc(100% / (2 / 3) - 32px);
    }

    .header__center .header__search {
        width: 100%;
        min-width: 270px;
    }

    .header__right {
        width: calc(100% / (1/3) - 32px);
        min-width: 75px;
        margin-left: -12px;
    }

    .header__right .header__course {
        padding-right: 14px;
    }

    .header__course--button {
        display: none;
    }

    .header__right .header__noti {
        padding-right: 0;
    }

    .header__right .header__user  {
        margin-left: 12px;
    }

    .course__item {
        width: calc(100% / 2 - 64px);
    }
    

    
}

/* -------------------------<< pc screen >>------------------------------ */
@media (min-width:1024px) {
    .course__item {
        width: calc(100% / 3 - 64px);
    }
    
}