:root {
    --header-height: 66px;
    --slider-height: 270px;
    
    --header-color: rgba(255, 255, 255, 0.5);
    --color-bold: #221F20;
    --color-medium: #727272;
    --color-pale: #e1e1e1;
    --color-white: #fff;
    --color-link: #007BFF;
    --color-bgr-pale: #f9f7f7;
    --color-primary: #007BFF;

    --font-size-base: 1.4rem;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    user-select: none;
}

.grid {
    width: 1380px;
    /* max-width: 100%; */
    margin: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.hidden {
    top: calc(100%);
    opacity: 0;
    visibility: hidden;
}

.show {
    top: calc(100% + 8px);
    opacity: 1;
    visibility:inherit;

}

hr {
    background-color: var(--color-pale);
    height: 1px;        
    border: none;     
    margin: 20px 0;
}