:root {
    --header-height: 66px;
    
    --header-color: rgba(255, 255, 255, 0.5);
    --color-bold: #221F20;
    --color-medium: #727272;
    --color-pale: #e1e1e1;
    --color-white: #fff;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    user-select: none;
}

.grid {
    width: 1380px;
    /* max-width: 100%; */
    margin: auto;
}

.cursor-pointer {
    cursor: pointer;
}