
body {
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(31, 11, 53);
}

.mrg-t-28 {
    margin-top: 28px !important;
}

#Container {
    width: 85%;
}


.describe {
    width: 100%;
    display:flex ;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.describe__logo {
    width: 100%;
    display: flex;
    background: transparent;
}

.describe__logo img {
    width: 75px;
    height: 75px;
    
}

.logo__slogan p {
    text-align: left;
    width: 300px;
    color: aliceblue;
    font-size: 2.0rem;
    margin: 0 0 0 8px;
}

.describe__title {
    width: 100%;
}

.describe__title h1 {
    width: 100%;
    font-size: 4.0rem;
    color: aliceblue;
}

.describe__title h1 span {
    background: linear-gradient(90deg, rgba(51, 28, 203, 0.95), rgba(138, 12, 138, 0.95));
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}


.describe__prominent {
    width: 58%;
}

.describe__prominent p {
    font-size: 1.8rem;
    color: aliceblue;
}

.describe__prominent p span {
    background: linear-gradient(90deg, rgba(52, 29, 206, 0.9), rgba(155, 16, 155, 0.9));
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.describe__btn {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.describe__btn button {
    padding: 6px 8px;
    background: linear-gradient(90deg, rgba(38, 6, 248, 0.3) 0%, rgba(120, 60, 200, 0.5) 50%, rgba(192, 97, 192, 0.8) 100%);
    border-radius: 10px;
    border: none;

}

.describe__btn button:hover {
    opacity: 0.8;
}

.describe__btn button a {
    padding: 4px 8px;
    color: aliceblue;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.describe__video {
    width: 80%;
    margin-top: 36px;
    z-index: 100;
}

.describe__video video {
    border-radius: 10px;
}

.object {
    width: 100%;
    height: auto;
    background: linear-gradient(97deg, #0073793a 11.23%, #005f6463 115.9%);
    border: 1px solid rgba(255, 255, 255, .22);
    border-radius: 15px;
    display: flex;
    margin-top: -150px;
}

.object__title {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 200px;
    text-align: center;
}

.object__title h2 {
    width: calc(70% - 48px);
    color: aliceblue;
    font-size: 5.0rem;
}

.object__title img {
    width: calc(80% - 48px);
    height: auto;
}

.object__content {
    width: 40%;
    margin-top: 250px;

}

.content__audience {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__audience div {
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(38, 6, 248, 0.988) 0%, rgba(121, 60, 200, 0.996) 50%, rgb(192, 97, 192) 100%);
    line-height: 40px;
    border-radius: 50%;
    color: aliceblue;
}

.content__audience p {
    width: 200px;
    padding-left: 12px;
    color: aliceblue;
}

.benifit {
    width: 100%;
    margin-top: 98px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: aliceblue;
}

.benifit h2 {
    width: 100%;
    font-size: 4.0rem;
}

.benifit .benifit__detail {
    width: 100%;
    display: flex;

}

.benifit .benifit__detail ul {
    width: calc(100% / 5);
    list-style: none;
    padding: 0;
}

.benifit .benifit__detail li {
    padding: 8px 16px;
    font-size: 0.9rem;
    line-height: 1.6;
    position: relative;
}

.benifit .benifit__detail li::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    margin: 18px 0 0 -16px;
    background-color: aliceblue;
    border-radius: 50%;
}

.uses {
    width: 100%;
    margin-top: 98px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}

.uses .uses--left {
    width: calc(50% - 42px);
}

.uses .uses--left h2 {
    width: 100%;
    padding-top: 64px;
    font-size: 3.4rem;
}

.uses .uses--left p {
    font-size: 1.2rem;
}

.uses .uses--left ul {
    width: 100%;
    list-style: none;
    padding: 0;
}

.uses .uses--left li {
    width: 100%;
    font-size: 1.4rem;
    opacity: 0.6;
    line-height: 1.8;

}

.uses .uses--left li:hover {
    opacity: 1;
    cursor: pointer;
}

.uses .uses--right {
    width: calc(50% - 42px);
    padding-bottom: 48px;
    background: linear-gradient(97deg, #0073793a 11.23%, #005f6463 115.9%);
    border: 1px solid rgba(255, 255, 255, .22);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.uses .uses--right video {
    width: 80%;
    margin-top: 42px;
    background-color: aliceblue;
}

.uses .uses--right h3 {
    width: 80%;
    font-size: 2.0rem;
    margin-bottom: 0;
}

.uses .uses--right p {
    width: 80%;
    font-size: 1.2rem;
}

.uses .uses--right button {
    margin-top: 28px;
    background: linear-gradient(90deg, rgba(110, 90, 234, 0.3) 0%, rgba(120, 60, 200, 0.5) 50%, rgba(192, 97, 192, 0.8) 100%);
    border-radius: 15px;
    padding: 8px 10px;
    border: 1px solid black;
}

.uses .uses--right a {
    text-decoration: none;
    font-size: 1.2rem;
    color: aliceblue;
}

.knowledge {
    width: 100%;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}

.knowledge .knowledge--left {
    width: calc(50% - 42px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.knowledge .knowledge--left video {
    width:65%;
    height: 600px;
    background-color: aliceblue;
    border-radius: 25px;
}

.knowledge .knowledge--right {
    width: calc(50% - 42px);
    
    align-items: center;
}

.knowledge .knowledge--right h2 {
    width: 100%;
    font-size: 3.4rem;
}

.knowledge .knowledge--right p {
    font-size: 1.2rem;
}