/* --------------<< HEADER >>------------ */
header {
    width: 100%;
    height: var(--header-height);
    padding: 0 28px;
    color: var(--color-bold);
    border-bottom: 1px solid var(--color-pale);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;

    z-index: 999;
    background-color: var(--color-white);
}

.header__left {
    display: flex;
    align-items: center;
    width: calc(100% / 3 - 32px);
}

.header__left img {
    width: 48px;
    height: 48px;
}

.header__left h1,
.header__left a {
    font-size: var(--font-size-base);
    display: inline-block;
    margin-left: 16px;
    text-decoration: none;
    color: var(--color-bold);
}

.header__center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: calc(100% / 3 - 32px);
}

.header__search {
    position: relative;
    width: 400px;
}

.header__search i {
    font-size: var(--font-size-base);
    color: var(--color-medium);
    padding: 12px 12px 12px;
    position: absolute;
    line-height: 100%;
    left: 0;
    top: 0;
}

.header__search input {
    font-size: var(--font-size-base);
    width: 100%;
    padding: 10px 20px 10px 38px;
    border-radius: 20px;
    border: 2px solid var(--color-pale);
    outline-color: var(--color-bold);
}

.header__searchResults {
    width: 100%;
    background-color: var(--color-white);
    box-shadow: 0 -4px 32px #0003;
    padding: 12px 24px;
    border-radius: 10px;
    position: absolute;
    transition: all ease .3s;
}

.header__searchResults p {
    color: var(--color-medium);
    font-size: var(--font-size-base);
    word-wrap: break-word;
    width: 100%;
}

.header__searchResults--item {
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

.header__searchResults--item img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.header__searchResults--item p {
    padding-left: 12px;
    width: calc(100% - 32px);
    color: var(--color-bold);
}

.header__right {
    width: calc(100% / 3 - 32px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__course {
    padding-right: 32px;
    position: relative;
}

.header__course--button {
    background-color: var(--color-white);
    color: var(--color-bold);
    font-size: var(--font-size-base);
    border: none;
}

.header__course--list {
    position: absolute;
    width: 380px;
    right: 0;
    background-color: var(--color-white);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all ease .3s;
    border-radius: 12px;
}

.header__right--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header__right--top h6 {
    font-size: var(--font-size-base);
}

.header__right--top a {
    font-size: var(--font-size-base);
    text-decoration: none;
    color: var(--color-link);
}

.header__course--item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 12px;
    transition: all ease .3s;
    border-radius: 12px;
}

.header__course--item:hover {
    background-color: var(--color-pale);

}

.header__course--item img {
    width: 120px;
    min-height: 67px;
    border-radius: 12px;
}

.header__course--item p {
    font-size: var(--font-size-base);
    word-wrap: break-word;
    padding-left: 12px;
    width: calc(100% - 120px);
}

.header__noti {
    padding-right: 32px;
    position: relative;
}

.header__noti i {
    font-size: 2rem;
}

.header__noti--list {
    position: absolute;
    width: 380px;
    right: 0;
    background-color: var(--color-white);
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all ease .3s;
    border-radius: 12px;
}

.header__noti--item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 12px;
    transition: all ease .3s;
    border-radius: 12px;
}

.header__noti--item:hover {
    background-color: var(--color-pale);

}

.header__noti--item img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.header__noti--item p {
    font-size: var(--font-size-base);
    word-wrap: break-word;
    padding-left: 12px;
    width: calc(100% - 120px);
}

.header__user {
    width: 32px;
    height: 32px;
    position: relative;
}

.header__user img {
    width: 100%;
    height: 100%;
}

.header__user--menu {
    min-width: 240px;
    position: absolute;
    right: 0;
    background-color: var(--color-white);
    padding: 20px 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all ease .3s;
    border-radius: 12px;
}

.header__user--top {
    display: flex;
    align-items: center;
    justify-self: flex-start;
}

.header__user--top img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.header__user--top p {
    font-size: 1.4rem;
    padding-left: 20px;
}

.header__user--bottom a {
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    color: var(--color-medium);
    margin-bottom: 12px;
}

.header__user--bottom a:hover {
    color: var(--color-bold);
}

/* -------------------------<< container >>------------------------------ */
.container {
    margin-top: calc(66px + 20px);
    width: 100%;
    /* box-sizing: border-box; */
}

/* -------------------------<< slider >>------------------------------ */
.slider {
    position: relative;
    width: 100%;
    height: var(--slider-height);
    padding: 20px;
    margin-bottom: 20px;
}

.slider__arrowLeft {
    left: 4px;
}

.slider__arrowRight {
    right: 4px;
}

.slider__arrow {
    transition: all ease .3s;
    position: absolute;
    top: 50%;
    z-index: 100;
    background-color: var(--color-white);
    padding: 10px 14px;
    border-radius: 50%;
    border: 1px solid var(--color-bold);
    font-size: 2rem;
    cursor: pointer;
}

.slider__arrow:hover {
    background-color: var(--color-pale);
}

.slider__list {
    height: var(--slider-height);
    width: calc(100% - 40px);
    position: absolute;
    top: 0;
    left: 20px;
    overflow: hidden;
    border-radius: 12px;
}

.slider__list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    transition: all ease .3s;
}

/* -------------------------<< list course >>------------------------------ */
.listCourse {
    padding: 20px;
}

.listCourse h2 {
    font-size: 3.2rem;
    margin-bottom: 20px;
    margin-left: 32px;
}

.course__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.course__item {
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 32px 20px;
    background-color: var(--color-bgr-pale);
    transition: all ease .3s;
}

.course__item:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px #0000001a;
}

.course__item img {
    width: 100%;
    height: 168px;
    object-fit: cover;
}

.course__content {
    padding: 12px;
    
}

.course__content h3 {
    font-size: 1.6rem;
    margin-bottom: 12px;
    word-wrap: break-word;
    width: calc(100%  24px);
}

.course__price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
}

.course__price--old {
    color: var(--color-medium);
    text-decoration: line-through;
    font-size: 1.4rem;
    margin-right: 8px;
    font-style: italic;
}

.course__price--new {
    color: var(--color-primary);
    font-size: 1.6rem;
    font-weight: bold;
}

.course__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course__bottom div {
    display: flex;
}

.course__bottom div i {
    margin-right: 8px;
}

.course__bottom div i,
.course__bottom div p {
    font-size: 1.2rem;
}

.course__more {
    width: 100%;
    text-align: center;
}

.course__more a {
    font-size: 1.4rem;
    color: var(--color-primary);
    text-decoration: none;  
}

/* -------------------------------------<< COURSE >>------------------------------------------- */
.container-course {
    margin-top: var(--header-height);
    display: flex;
    padding: 32px;
}

.course__left {
    width: 75%;
}

.course__info h1 {
    font-size: 3.2rem;
    margin-bottom: 16px;
}

.course__info p {
    font-size: 1.4rem;
    color: #000c;
}

.course__right {
    width: 25%;
    height: 100px;
    background-color: red;
}